.nav-menu {
  height: 50px;
  width: 100%;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  background-color: #3c3c3c;
  display: flex;
  max-width: 648px;
  .nav-item {
    width: 100%;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    padding-top: 3px;
    span {
      font-size: 12px;
    }
    &.active {
      background-color: #595959;
      color: #aad3f3;
    }
  }
}