input {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.login-wrap {
  text-align: center;
  a {
    color: #17b1db;
  }
}
.lp-btn {
  .btn {
    position: relative;
    justify-content: center;
    display: flex;
    border: 1px solid #e0dee1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 13px 0;
    margin: 15px 0;
    font-size: 18px;
    transition: all 300ms ease-in-out;
    &:hover {
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    }
    img {
      position: absolute;
      left: 27px;
      top: 17px;
    }
  }
}
